* {
  margin: 0px;
  padding: 0px;
}


h1 {
  text-align: center;
  color: lightblack;
}


ul {

}

ul li {
  list-style: none;
  display: inline-block;
}

ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #1e1e1e;
}

nav {
  color: black;
  background-color: #FDF5E6;
}

nav ul {
  text-align: center;
}

nav ul li {
  display: inline-block;
  padding: 20px;
  color: white;
  font-family: Arial;
  cursor: pointer;
  transition: .3s ease-in;
}

li:hover {
background-color: #FFEBCD;
}

.wrapper {
  margin: 0 auto;
  width: 1400px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}

.Oreo-Dessert {
  width:400px;
}

.Adobo {
  width: 300px;
  margin: 0 auto;
}
